.gameCellWrapper {
    padding-top: 33%; /* 1:1 Aspect Ratio */
    position: relative;
}

.gameCell {
    height: 100%;
    padding: 0;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}